@import "animations.css";

.header{
    background: rgb(49,86,182);
    background: linear-gradient(117deg, rgba(49,86,182,1) 0%, rgba(146,97,240,1) 100%);
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding-left: 10px;
}

.header > .item {
    padding: 0 12px 0 12px;
}

.content {
}

.header a{
    color: #cfe2ff;
    text-decoration: none;
}

.header-container{
    padding: 0;
    top: 0;
    position: sticky;
}

@media (min-width: 576px){
   .col-sm-1 {
    flex: 0 0 auto;
    width: fit-content;
    }
}


.header a:hover{
    animation: header-link-hover 0.2s;
    color: #ffffff;
}

.sidebar {
    overflow-y: auto;
    top: 15%;
    width: 300px;
    bottom: 0;
    padding-left: 50px !important;
}

.content {
    padding-top: 20px;
    padding-left: 40px;
}

.sidebar-details > p:hover{
    background-color: #cfe2ff;
    border-radius: 5px;
    color: #000000;
}
.sidebar-details p{
    padding: 1px 5px 1px 5px !important;
    margin: 0;
    width: fit-content;
    font-weight: 5;
}

.sidebar-details a{
    color: initial;
    text-decoration: none;
}

img, iframe {
    max-width: 100%;
    max-height: 100%;
}

.logo {
    overflow: hidden;
    height: 50px;
}

.center-box {
    background: rgb(173,227,255);
    background: linear-gradient(180deg, rgba(173,227,255,1) 0%, rgba(193,164,252,1) 100%);
    padding: 40px 0 40px 0;
    margin: 0;
    text-align: center;
}

.version {
    display: inline-block;
    width: fit-content;
    position: center;
    border-radius: 10px;
    padding: 4px;
    font-weight: 400;
    background: #f4f282;
    box-shadow: 0 0 0 1px #e6e365 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 2px 0 0 #e6e365 ,0 2px 0 1px rgba(255, 255, 255, 0.4),0 2px 2px 1px rgba(0, 0, 0, 0.5);
    color: black !important;
    letter-spacing: -1px;
    text-decoration: none !important;
    -webkit-transition: all .2s linear;
    margin-right: 5px;
}
.product {
    margin-bottom: 30px;
}