body{
    margin: 0;
    padding: 0;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    background: #dda15e;
    color: #264653;
}

html{
}

.wrapper{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
/* content */
.content {
    margin: 10px 120px 10px 120px;
    background: #ffffff;
    padding: 7px;
}
/* header */
.header {
    padding: 0;
    margin: 0;
    background: #e9c46a;
    color: #fefae0;
    height: 45px;
}

.header ul {
    padding: 13px 0 0 5px;
    margin: 0;
    display: block;
    list-style: none outside none;
    width: fit-content;
}

.header li {
    margin: 0 0 0 6px;
    padding: 0 0 0 6px;
    float: left;
    border-left: 1px #fefae0 solid;
}

.header li:first-child{
    border: none;
}
