.sidebar {
    position: fixed;
}

.col, .col-1 {
    padding: 0 !important;
}

.me {
    text-align: right;
    color: #ffffff;
}
.me p {
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
     border-top-left-radius: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 4px;
    margin: 5px;
    width: fit-content;
}

.msg p{
    color: #000000;
    background-color: #d9d9d9;
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
     border-top-left-radius: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 4px;
    margin: 5px;
    width: fit-content;
}

.time {
    font-size: smaller;
    font-weight: lighter;
}